.c {
	text-align: center;
}


.inputer {
	justify-content: center;
	display: flex;
    flex-direction: column;
	margin-right: 80%;
	border: 3px solid;
	border-radius: 5px;
	padding: 4px 4px 4px 4px;
}
.q1 {
	
}
.q2 {
	
}
.ots {
	margin-bottom: 10px;
}


