body {
	background: #F67280;
}

p.mode {
	margin-bottom: 30px;
	margin-top: 30px;
}

p.a, p.b {
	display: contents;

}


input.a {
	margin-bottom: 20px;
	margin-left: 12px;


}
input.b {
	
	margin-left: 6px;


}

input.butn {
	border: 0;
    width: 70px;
    height: 30px;

}